body {
    font-family: "Merriweather";
    }

.header {
    color: #FFF;
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 50px;
    height: 600px;
    text-align: center;
}
.title{

}


.title1 {
    padding-top: 100px;
    font-size: 32px;
}

.title2 {
    font-size: 72px;
    line-height: 95px;
}

.discount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.holydaydeal {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.happynewyear {
    padding-left: 510px;
}

.midnight-party {
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    height: 600px;
    display: flex;
}
.welcome{
    padding: 126px 0 0 350px;
}

.welcome-to-party {
    color: #FFF;
    font-size: 50px;
    letter-spacing: 7.04px;
}

.welcoming-text {
    color: #d1cccc;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}
.year-img{
    padding: 68px 138px 68px 60px;
}
.place{
    color: #070211;
font-family: Inter;
font-size: 32px;
text-align: center;
padding: 100px 386px 214px 385px;
max-width: 1600px;
}
.text-primary{
    color: #F00;
}
.best-offer{
    color: #070211;
    text-align: left;
    padding: 50px 270px 214px 270px;
    max-width: 1600px;
    display: flex;
    font-family: Inter;
}
.coming-soon{
    font-size: 50px;
}
.circle-border {
    width: 400px; 
    height: 400px;
    border: 20px solid #ff0000; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
  .year{
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    justify-content: left;
  }
  .column-three{
    margin-left: 100px;
  /* }
  .banner {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: Inter;
}

.content {
    display: flex;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
    background-image: url(../images/Group\ 75.png);
    /* Add a background image of the opened box with confetti */
}

.woman {
    margin-left: 20px;
} */
