body {
    font-family: "Merriweather";
    }
    

.header {
    color: #FFF;
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 50px;
    height: 600px;
    text-align: center;
}
.title{

}


.title1 {
    padding-top: 100px;
    font-size: 32px;
}

.title2 {
    font-size: 72px;
    line-height: 95px;
}

.discount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.holydaydeal {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.happynewyear {
    padding-left: 510px;
}

.midnight-party {
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    height: 600px;
    display: flex;
}
.welcome{
    padding: 126px 0 0 350px;
}

.welcome-to-party {
    color: #FFF;
    font-size: 50px;
    letter-spacing: 7.04px;
}

.welcoming-text {
    color: #d1cccc;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.year-img{
    padding: 68px 138px 68px 60px;
}
.place{
    color: #070211;
font-family: Inter;
font-size: 32px;
text-align: center;
padding: 100px 386px 214px 385px;
max-width: 1600px;
}
.text-primary{
    color: #F00;
}
.best-offer{
    color: #070211;
    text-align: left;
    padding: 50px 270px 214px 270px;
    max-width: 1600px;
    display: flex;
    font-family: Inter;
}
.coming-soon{
    font-size: 50px;
}
.circle-border {
    width: 400px; 
    height: 400px;
    border: 20px solid #ff0000; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
  .year{
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    justify-content: left;
  }
  .column-three{
    margin-left: 100px;
   }

   .banner { 
    text-align: center;
    padding: 20px;
}

  .holiday-sale-text {
    font-size: 60px;
    text-align: center;
    font-family: Inter;
}
.holiday-sale-part-images {
    display: flex;
   justify-content: space-around;
   height: 663px;
   weight: 1320px;
}


.box-over-red {
    width: 100px;
    height: 100px;
}
.box{
    background-color: #fff9f9fa;
    height: 400px;
    weight: 400px;
    margin-right: 100px;
    padding-top: 30px;
}


.discount-women-image {
    background-image: url(../images/woman.png);
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-right: 100px;
}
    
.fifty{
    height: 220px;
   weight: 220px;
   margin-right: 100px;
   padding-top: 50px;
}
.img-portfolio {
    position: relative;
  }
  
  .portfolio-img{
    transition: opacity 0.3s ease;
  }
  
  .portfolio-img:hover {
    opacity: 0.7;}

.awesome-portfolio{
    padding: 100px  70px 50px 350px;
}
.portfolio-img{
margin: 10px 10px 10px 10px;
}

.newsletter{
    text-align: center;
    padding: 100px  0px 0px px;
}
.subscribe{
    display: flex;
    padding-left: 900px;
}
.mail-subscribe{
  border: none;
  border-left: 50px;
    text-align: center;

}
.button-subscribe{
    background-color: #F00;
    color: white;
    border: none;
}
footer{
    background-color: #070211;
    height: 300PX;
    weight: 300px;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 300px;
    padding: 50px 50px 50px 50px;
     
}
.footer-text-group{
    display: flex;
    justify-content: space-between;


}
.footer-text{
    color: #d1cccc;
}

.right{
    text-align: right;
}
.icons{
    text-align: center;
}